.head{
  background-color: rgb(241, 244,249);
}
.head-text-left{
  height: 47px;
  span{
    font-size: 12px;
    color: rgb(126, 140, 153);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    float: left;
    padding-top: 15px;
  }
}
.header-login{
    width: 85px;
    height: 47px;
    border-left: 1px solid rgb(221,226,232);
    font-size: 12px;
    color: rgb(126, 140, 153);
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    float: left;
    padding-top: 19px;
    text-align: center;
}
.header-sing{
    width: 79px;
    font-size: 12px;
    height: 47px;
    border-left: 1px solid rgb(221,226,232);
    color: rgb(126, 140, 153);
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    float: left;
    padding-top: 19px;
    text-align: center;
}
.head-call{
  width: 215px;
  height: 47px;
  float: left;
  border-left: 1px solid rgb(221,226,232);
  padding-left: 28px;
  padding-top: 5px;
  i{
    float: left;
    font-size: 34px;
    color: rgb(146, 157, 169);
  }
}
.head-call-text{
  padding-left: 35px;
  span:first-child{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 11px;
    float: left;
    color: rgb(146, 157, 169);
  }
  span:last-child{
    font-size: 23px;
    font-family: 'Open Sans', sans-serif;
    float: left;
    font-weight: bold;
  }
}
.head-btn{
  float: left;
  padding: 5px 0 5px 25px;
  border-left: 1px solid rgb(221,226,232);
}
.btn-mesage{
  float: left;
  width: 127px;
  height: 37px;
  background-color: rgb(255, 85, 26);
  color: rgb(255, 255, 255);
  text-decoration-color: rgb(255, 255, 255);
  border-radius: 0px;
}
@media only screen and (max-width: 1024px){
  .header-login{
    width: 75px;
  }
  .header-sing{
    width: 69px;
  }
  .head-call{
    width: 170px;
    padding-left: 5px;
    i{
      padding-left: 5px;
      font-size: 24px;
      padding-top: 10px;
    }
  }
  .head-call-text{
    padding-left: 35px;
    span:first-child{
      padding-top: 5px;
      font-size: 8px;
    }
    span:last-child{
      font-size: 18px;
    }
  }
}
@media only screen and (max-width: 768px){
  .head-text-left{
    span{
      padding-top: 19px;
      font-size: 10px;
    }
  }
  .header-login{
    font-size: 10px;
  }
  .header-sing{
    font-size: 10px;
  }
  .head-call{
    width: 113px;
    i{
      padding-left: 0px;
      font-size: 20px;
    }
  }
  .head-call-text {
    padding-left: 22px;
    span:last-child{
      font-size: 12px;
    }
  }
  .head-btn {
    float: left;
    padding: 5px 0 5px 5px;
  }
  .btn-mesage {
    width: 91px;
    font-size: 11px;
  }
}
