.head-logo-wrapper{
  height: 89px;
}
.logo-left{
  width: 199px;
  float: left;
  padding-top: 29px;
  padding-bottom: 17px;
  img{
    width: 100%;
  }
}
.logo-right{
  float: right;
  padding-top: 17px;
  padding-bottom: 9px;
}
