//Header
.header{
  background-color: rgb(241, 244,249);
  height: 47px;
  font-size: 12px;
}
.header-login{

  text-align: center;
  border-left: 1px solid rgb(221,226,232);
}
.header-sing{
  text-align: center;
  border-left: 1px solid rgb(221,226,232);
}
.header-call{
  border-left: 1px solid rgb(221,226,232);
}
.header-btn{
  height: 100%;
  float: left;
  padding: 5px 0 5px 0;
  border-left: 1px solid rgb(221,226,232);

}
.btn-mesage{
  width: 127px;
  height: 37px;
  background-color: rgb(255, 85, 26);
  color: rgb(255, 255, 255) !important;
  text-decoration-color: rgb(255, 255, 255) !important;
  border-radius: 0px !important;
}
//Header-logo
.header-logo{
  height: 47px;
  background-color: rgb(255, 255, 255);
}

//header-nav
.header-bottom-nav-left{
  border-top: 1px solid rgb(221,226,232);
  border-bottom: 1px solid rgb(229,229,227);
}
.header-bottom-nav-right{
  border-top: 1px solid rgb(221,226,232);
  border-bottom: 1px solid rgb(229,229,227);
}
.header-bottom-nav{
  height: 37px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  border-top: 1px solid rgb(221,226,232);
  border-bottom: 1px solid rgb(229,229,227);
  background-color: rgb(255, 255, 255) !important;
  i{
    font-size: 16px;
  }
  a{
    color: rgb(126, 140, 153) !important;
  }
}
.dropdown-toggle::after {
  display: none !important;
}
.navbar-brand-menu{
  display: none !important;
}
.nav-item-li-zero{
  padding-right: 36px;
  text-align: center;
  border-right: 1px solid rgb(221,226,232);
}
.nav-item-li-first{
  width: 21.28%;
  text-align: center;
  border-right: 1px solid rgb(221,226,232);
}
.nav-item-li-second{
  width: 21%;
  text-align: center;
  border-right: 1px solid rgb(221,226,232);
}
.nav-item-li-therd{
  width: 21.28%;
  text-align: center;
  border-right: 1px solid rgb(221,226,232);
}
.nav-item-li-four{
  width: 11.27%;
  text-align: center;
  border-right: 1px solid rgb(221,226,232);
}
.nav-item-li-five {
  width: 11.38%;
  text-align: center;
  border-right: 1px solid rgb(221,226,232);
}
.nav-item-li-six{
  padding-left: 30px;
}
.navbar-nav-ul{
  width: 100%;
}
// end header-nav
.heder-img{
  width: 100%;
}
//main-body
.main-body-wraper{
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding-top: 7.9%;
}
.main-body-wraper span{
  float: left;
  width: 100%;
}
.main-body-top{
  color: rgb(92, 184, 235);
  font-size: 24px;
}
.main-body-title{
  font-size: 27px;
  font-weight: 900;
}
.main-body-text{
  float: left;
  font-size: 12px;
  padding-top: 3.7%;
  color: rgb(126,140,153);
}
.main-body-group{
  width: 100%;
  padding-top: 7.1%;
  float: left;
  padding-bottom: 20.21%;

}
.main-body-group-property{
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  padding-top: 3%;
  color: rgb(126,140,153);
}
.main-body-group-text{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 900;
}
.main-body-group-item{
  float: left;
  width: calc((100%-5px)/6);
  text-align: center;
  span{
    float: left;
    text-align: center;
    width: 100%;
  }
}

.main-item-first{
  border-right: 1px solid rgb(225, 230,236);
}
.main-item-two{
  border-right: 1px solid rgb(225, 230,236);
}
.main-item-three{
  border-right: 1px solid rgb(225, 230,236);
}
.main-item-four{
  border-right: 1px solid rgb(225, 230,236);
}
.main-item-five{
  border-right: 1px solid rgb(225, 230,236);
}
.center-img{
  width: 100%;
}
// community-sections
.community-sections{
  background-color: rgb(239,243,245);
}

.community-btn{
  float: left;
  
}































.tex{

}
