//head
@import "head.scss ";

// end-head
iframe{
  display: none;
}



//head-logo
.head-logo-wrapper{
  height: 87px;
  background-color: rgb(255, 255, 255);
}
.head-logo-left{
  width: 199px;
  float: left;
  padding-top: 29px;
  padding-bottom: 17px;
  img{
    width: 100%;
  }
}
.head-logo-right{
  float: right;
  padding-top: 17px;
  padding-bottom: 9px;
}
// end-head-logo
//header-nav
.header-bottom-nav{
  width: 100%;
  float: left;
  margin-bottom: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
  border-top: 1px solid rgb(221,226,232) !important;
  border-bottom: 1px solid rgb(229,229,227) !important;
  background-color: rgb(255, 255, 255) !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  a{
    color: rgb(126, 140, 153) !important;
  }
  i{
    font-size: 16px;
  }
}
.navbar {
  min-height: 37px !important;
}
.caret{
    display: none !important;
}
.navbar-brand-menu{
  display: none !important;
}
.navbar-toggle-btn{
  border-radius: 0 !important;
}
.navbar-toggle{
  border-radius: 0 !important;
}
.navbar-brand-collapse{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.main-menu-title{
  float: left;
  width: 100%;
  height: 100%;
}
.navbar-nav-ul{
  width: 100%;
  li a{
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }
}
.header-bottom-nav-left{
  height: 38px;
  float: left;
  border-top: 1px solid rgb(221,226,232);
  border-bottom: 1px solid rgb(229,229,227);
}
.header-bottom-nav-right{
  height: 38px;
  float: left;
  border-top: 1px solid rgb(221,226,232);
  border-bottom: 1px solid rgb(229,229,227);
}
.nav-item-li-zero{
  width: 9.1%;
  text-align: center;
  border-right: 1px solid rgb(221,226,232);
}
.nav-item-li-first{
  width: 20.29%;
  text-align: center;
  border-right: 1px solid rgb(221,226,232);
}
.nav-item-li-second{
  width: 20.2%;
  text-align: center;
  border-right: 1px solid rgb(221,226,232);
}
.nav-item-li-therd{
  width: 20.3%;
  text-align: center;
  border-right: 1px solid rgb(221,226,232);
}
.nav-item-li-four{
  width: 10.7%;
  text-align: center;
  border-right: 1px solid rgb(221,226,232);
}
.nav-item-li-five {
  width: 10.8%;
  text-align: center;
  border-right: 1px solid rgb(221,226,232);
}
// end head-nav
// head-parallax
.head-parallax-wrapper{
  width: 100%;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.head-parallax-button-wrapper{
  height: 96px;
  width: 67%;
  position: absolute;
  top: 55%;
  left: 20%;
  z-index: 30;
  background-color: rgba(63, 163, 217, 0.8);
  border-radius: 5px;
  padding-left: 35px;
  padding-top: 30px;
  >button{
    margin-left: 15px;
    background-color: rgb(255, 85, 26);
    box-shadow: 0px 3px 3px rgba(8,0,0,0.5);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color : rgb(255, 255, 255);
    height: 39px;
  }
}
.head-parallax-button{
  width: 71%;
  height: 38px;
  float: left;
  padding-top: 1px;
  background-color: rgb(77, 130, 164);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 3px 3px rgba(8,0,0,0.5);
  button{
    float: left;
    background-color: rgb(67, 80, 97);
    color : rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: none !important;
    height: 36px;
  }
  input{
    width: 79.99999%;
    float: left;
    height: 36px;
    border: none;
    background-color: rgb(172, 218, 243);
    color:  rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding-left: 7px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    &::-webkit-input-placeholder{
      color:  rgb(255, 255, 255);
    }
  }
}
// end  test head-parallax
//main-body-text
.body-wraper{
  width: 100%;
  text-align: center;
  span{
    float: left;
    width: 100%;
  }
}
.body-top{
  color: rgb(92, 184, 235);
}
.body-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 27px;
  font-weight: bold;
}
.body-text{
  float: left;
  font-size: 12px;
  padding-top: 3.7%;
  color: rgb(126,140,153);
  font-family: 'Lato', sans-serif !important;
  line-height: 20px !important;
}
// end main-body-text
// main body group
.main-body-group{
  width: 100%;
  padding-top: 7.1%;
  float: left;
  padding-bottom: 20.91%;
}
.main-body-group-property{
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  padding-top: 5.55%;
  color: rgb(126,140,153);
}
.main-body-group-text{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.main-body-group-item{
  float: left;
  width: calc((100%-5px)/6);
  text-align: center;
  span{
    float: left;
    text-align: center;
    width: 100%;
  }
}
.main-item-first{
  border-right: 1px solid rgb(225, 230,236);
}
.main-item-two{
  border-right: 1px solid rgb(225, 230,236);
}
.main-item-three{
  border-right: 1px solid rgb(225, 230,236);
}
.main-item-four{
  border-right: 1px solid rgb(225, 230,236);
}
.main-item-five{
  border-right: 1px solid rgb(225, 230,236);
}
// end main body group
// center-parallax
.center-parallax{
  background: url("./../img/center.jpg") no-repeat center center;
}
.center-parallax-left{
  height: 580px;
  padding-top: 70px;
  background: rgb(55, 158, 218);
  color: rgb(255, 255, 255);
}
.center-parallax-top{
  padding-left: 24px;
  span{
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
  font-weight: bold;
  }
  p{
    padding-top: 35px;
    font-family: 'Lato', sans-serif;
    font-size:14px;
    font-weight: normal;
  }
}
.center-parallax-table{
  float: left;
}
.center-parallax-top-item{
  width: 100%;
  float: left;
  padding-left: 10px;
  padding-top: 23px;
  span{
    float: left;
    padding-right: 15px;
    font-family: 'Lato', sans-serif;
    font-size:16px;
    font-weight: normal;
  }
  :last-child{
    margin-left: 10px;
  }
}
.center-parallax-top-first{
  width:155px;
  padding-top: 12px;
  float: left;
  border-bottom: 1px solid rgb(41, 142,199);
}
.center-parallax-top-second{
  width:99px;
  padding-top: 12px;
  float: left;
  border-bottom: 1px solid rgb(41, 142,199);
}
 .center-parallax-top-third{
  width:171px;
  padding-top: 12px;
  float: left;
  border-bottom: 1px solid rgb(41, 142,199);
}
 .center-parallax-top-four{
  width:94px;
  padding-top: 12px;
  float: left;
  border-bottom: 1px solid rgb(41, 142,199);
}
 .center-parallax-top-five{
  width:155px;
  padding-top: 12px;
  float: left;
  border-bottom: 1px solid rgb(41, 142,199);
}
 .center-parallax-top-sixth{
  width:99px;
  padding-top: 12px;
  float: left;
  border-bottom: 1px solid rgb(41, 142,199);
}
 .center-parallax-top-seven{
  width:171px;
  padding-top: 12px;
  float: left;
  border-bottom: 1px solid rgb(41, 142,199);
}
 .center-parallax-top-eight{
  width:95px;
  padding-top: 12px;
  float: left;
  border-bottom: 1px solid rgb(41, 142,199);
}
.center-parallax-right-item{
  width: 100%;
  float: left;
  padding-top: 23px;
  span{
    float: left;
    padding-right: 15px;
    font-family: 'Lato', sans-serif;
    font-size:16px;
    font-weight: normal;
  }
  :last-child{
    margin-left: 10px;
  }
}
.center-parallax-right-first{
  width: 109px;
  padding-top: 12px;
  float: left;
  border-bottom: 1px solid rgb(41, 142,199);
}
.center-parallax-right-second{
  width: 136px;
  padding-top: 12px;
  float: left;
  border-bottom: 1px solid rgb(41, 142,199);
}
 .center-parallax-right-third{
  width: 183px;
  padding-top: 12px;
  float: left;
  border-bottom: 1px solid rgb(41, 142,199);
}
 .center-parallax-right-four{
  width:172px;
  padding-top: 12px;
  float: left;
  border-bottom: 1px solid rgb(41, 142,199);
}
 .center-parallax-right-five{
  width:109px;
  padding-top: 12px;
  float: left;
  border-bottom: 1px solid rgb(41, 142,199);
}
 .center-parallax-right-sixth{
  width:136px;
  padding-top: 12px;
  float: left;
  border-bottom: 1px solid rgb(41, 142,199);
}
 .center-parallax-right-seven{
  width:183px;
  padding-top: 12px;
  float: left;
  border-bottom: 1px solid rgb(41, 142,199);
}
 .center-parallax-right-eight{
  width:172px;
  padding-top: 12px;
  float: left;
  border-bottom: 1px solid rgb(41, 142,199);
}
.community-sections{
  padding-top: 78px;
}
.community-sections-color{
  background-color: rgb(239,243,245);
}
// community-sections-tabs
.tabs{
  float: left;
  padding-top: 4.1%;
  padding-bottom: 57px;
  ul li {
      height: 51px;
      width: calc(100%/6);
      text-align: center;
      font-size:16px;
      font-family: 'Lato', sans-serif;
      background-color: rgb(255, 255, 255);
      font-weight: normal;
  }
  ul li a{
    height: 100%;
    padding-top: 11px;
    padding-bottom: 11px;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    color: rgb(83, 95, 110);
  }
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(83, 95, 110) !important;
}
.nav-tabs.nav-justified>li>a {
  border-bottom: none !important;
}

// sections-slider
.sections-slider{
  padding-bottom: 127px;
}
.carousel-wrapper{
  border: 15px solid rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
}
.carousel-control.right{
    background-image: none !important;
}
.carousel-control.left{
    background-image: none !important;
}
.carousel-indicators .active{
  background-color: rgb(49, 162, 225) !important;
}
.carousel-indicators li {
  background-color: rgb(255, 255, 255) !important;
  border: none !important;
}
//  end sections-slider
//  sections-slider-left
.sections-slider-left{
  padding-top: 15px;
  >span{
      font-family: 'Montserrat', sans-serif;
      font-size: 21px;
      font-weight: bold;
  }
  >p{
    font-family: 'Lato', sans-serif;
    font-size:16px;
    font-weight: normal;
    line-height: 21px;
    }
}
.sections-slider-left-icon{
  padding-top: 40px;
  span{
    float: left;
    padding-bottom: 58px;
  }
}
.sections-slider-left-text{
  padding-top: 40px;
  span{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
  }
  p{
    font-family: 'Lato', sans-serif;
    font-size:16px;
    font-weight: normal;
    line-height: 21px;
  }
}
.sections-slider-left-text-botton{
  padding-top: 55px;
}
// end sections-slider-left
// body-feature
.feature-part-two{
  padding-top: 60px;
}
.carousel-group-img{
  float: left;
  width: 20%;
  padding-left: 2px;
}
.carousel-img{
  padding-bottom: 3px;
  width: 100%;
}
.carousel-img-center{
  float: left;
  width: 100%;
}
.carousel-control .glyphicon-left, .carousel-control .glyphicon-right, .carousel-control .icon-next, .carousel-control .icon-prev{
  top:-11% !important;
}
.carousel-control .glyphicon-left, .carousel-control .icon-prev {
    margin-left: 310% !important;
}
.carousel-control .glyphicon-right, .carousel-control .icon-prev {
    margin-left: -555% !important;
}
// emerald
.emereld-top-sections{
  float: left;
  padding-top: 72px;
  padding-bottom: 91px;
}

.emerald-left-text-top{
  padding-top: 10px;
  :first-child{
    color: #31a2e1;
    padding-bottom: 36px;
  }
  :last-child{
    padding-bottom: 26px;
  }
  >span{
    width: 100%;
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 21px;
  }
  >p{
    float: left;
    font-family: 'Lato', sans-serif;
    font-size:16px;
    font-weight: normal;
    line-height: 21px;
    padding-bottom: 36px;
  }
}
.emerald-wrapper-left{
  height: 525px;
  float: left;
  background-color: rgb(49, 162, 225 );
}
.emerald{
  float: left;
  height: 525px;
  button{
    width:312px;
    height: 50px;
    float: left;
  }
}
.emerald-left{
  float: left;
  height: 525px;
  background-color: rgb(49, 162, 225 );
  color: rgb(255,255,255);
}
.emerald-left-block{
  padding-top: 66px;
}
.emerald-left-title{
  width: 100%;
  float: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 18px;
}
.emerald-left-text{
  width: 90%;
  float: left;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
    p:first-child{
    padding-top: 34px;
    width: 90%;
    float: left;
    font-weight: bold;
  }
  span{
    width: 80%;
    float: left;
    font-weight: normal;
    line-height:1.8;
  }
}
.emerald-left-icon{
  width: 10%;
  float: left;
  padding-top: 34px;
}
.emerald-btn-wraper{
  float: left;
  padding-top: 50px;
}
.emerald-btn{
  border-radius: 0px !important;
  background-image: linear-gradient(to bottom,#51c1ff 0,#51c1ff 100%) !important;
  background-color: rgb(81, 193, 255) !important;
}
// emerald-right
.emerald-wrapper-right{
  height: 525px;
  float: left;
  background-color:  rgb(216, 214, 255);
}
.emerald-right{
  float: left;
  height: 525px;
  background-color: rgb(216, 214, 255);
}
.emerald-right-title{
  width: 100%;
  float: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 18px;
  padding-top: 66px;
}
.emerald-right-content{
  width: 100%;
  float: left;
  padding-top: 34px;
}
.emerald-right-img{
  float: left;
  width: 35%;
}
.emerald-right-text{
  width: 65%;
  float: left;
  padding-top: 24px;
 p{
  width: 100%;
  float: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 16px;
  }
  span{
    float: left;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
  }
}
//  end emerald
// footer-right-title
.footer{
  height: 914px;
  float: left;
  color: rgb(255,255,255);
  padding-left: 0px;
  // background: url("./../img/foter.jpg") no-repeat center center; !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
}
.foter-top{
  width: 100%;
  height: 135px;
  float: left;
}
.footer-warapper-right{
  float: left;
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.footer-right-center{
  height: 635px;
  width: 100%;
  float: left;
  background-color: rgba(66, 79, 97, 0.77);
}
.footer-center{
  height: 635px;
  float: left;
  background-color: rgba(66, 79, 97, 0.77);
}
.footer-center-title{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 18px;
  padding-top: 50px;
  padding-bottom: 30px;
}
.footer-center-text{
  height: 330px;
  background-color: rgba(52, 62, 75, 0.79);
  p{
    float: left;
    padding-left: 11px;
    padding-top: 13px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: normal;
  }
}
.footer-logo{
  float: left;
  a{
    width: 100%;
    float: left;
    margin-top: 35px;
    margin-bottom: 20px;
  }
  span{
    width: 80%;
    float: left;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: normal;
  }
}
.connect{
  padding-top: 39px;
  span {
    width: 100%;
    float: left;
    margin-bottom: 36px;
  }
  >a{
    padding-right: 13px;
  }
}
.footer-left{
  height: 635px;
  background-color: rgba(50, 164, 226, 0.76);
}
.footer-left-top{
  float: left;
  padding-top:53px;
  padding-bottom: 36px;
  >span{
    width: 100%;
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 28px;
  }
}
.footer-img{
  width: 38%;
  float: left;
}
.footer-left-mail{
  width: 62%;
  float: left;
  p{
    width: 100%;
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: 0px;
    span{
      font-weight: normal;
    }
  }
  >span{
    width: 100%;
    float: left;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: normal;
  }
}
.footer-left-botton{
  >span{
    width: 100%;
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 20px;
  }
}
.footer-left-botton-text{
  float: left;
  padding: 10px 10px 10px 10px;
  background-color: rgb(14, 144, 217);
  span{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.8;
  }
}



.footer-left-botton{
  width: 100%;
  float: left;
  padding-top: 11px;
  button{
    width: 307px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    float: left;
    color: rgb(14, 144, 217);
    border: none;
  }
}
.footer-logo-booton{
  width: 100%;
  float: left;
  padding-top: 20px;
  img{
    padding-left: 7px;
  }
}
