.head {
  background-color: #f1f4f9; }

.head-text-left {
  height: 47px; }
  .head-text-left span {
    font-size: 12px;
    color: #7e8c99;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    float: left;
    padding-top: 15px; }

.header-login {
  width: 85px;
  height: 47px;
  border-left: 1px solid #dde2e8;
  font-size: 12px;
  color: #7e8c99;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  float: left;
  padding-top: 15px;
  text-align: center; }

.header-sing {
  width: 79px;
  font-size: 12px;
  height: 47px;
  border-left: 1px solid #dde2e8;
  color: #7e8c99;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  float: left;
  padding-top: 15px;
  text-align: center; }

.head-call {
  width: 215px;
  height: 47px;
  float: left;
  border-left: 1px solid #dde2e8;
  padding-left: 28px; }
  .head-call i {
    float: left;
    padding-top: 5px;
    font-size: 34px;
    color: #929da9; }

.head-call-text {
  padding-left: 35px; }
  .head-call-text span:first-child {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 11px;
    float: left;
    color: #929da9; }
  .head-call-text span:last-child {
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    float: left;
    font-weight: bold; }

.head-btn {
  float: left;
  padding: 5px 0 5px 25px;
  border-left: 1px solid #dde2e8; }

.btn-mesage {
  float: left;
  width: 127px;
  height: 37px;
  background-color: #ff551a;
  color: white !important;
  text-decoration-color: white !important;
  border-radius: 0px !important; }

.header-logo {
  height: 87px;
  background-color: white; }

.header-bottom-nav {
  width: 100%;
  float: left;
  margin-bottom: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
  border-top: 1px solid #dde2e8 !important;
  border-bottom: 1px solid #e5e5e3 !important;
  background-color: white !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important; }
  .header-bottom-nav a {
    color: #7e8c99 !important; }
  .header-bottom-nav i {
    font-size: 16px; }

.navbar {
  min-height: 37px !important; }

.caret {
  display: none !important; }

.navbar-brand-menu {
  display: none !important; }

.navbar-toggle-btn {
  border-radius: 0 !important; }

.navbar-toggle {
  border-radius: 0 !important; }

.navbar-brand-collapse {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.main-menu-title {
  float: left;
  width: 100%;
  height: 100%; }

.navbar-nav-ul {
  width: 100%; }
  .navbar-nav-ul li a {
    padding-top: 8px !important;
    padding-bottom: 8px !important; }

.header-bottom-nav-left {
  height: 38px;
  float: left;
  border-top: 1px solid #dde2e8;
  border-bottom: 1px solid #e5e5e3; }

.header-bottom-nav-right {
  height: 38px;
  float: left;
  border-top: 1px solid #dde2e8;
  border-bottom: 1px solid #e5e5e3; }

.nav-item-li-zero {
  text-align: center;
  border-right: 1px solid #dde2e8; }

.nav-item-li-first {
  width: 20.29%;
  text-align: center;
  border-right: 1px solid #dde2e8; }

.nav-item-li-second {
  width: 20.2%;
  text-align: center;
  border-right: 1px solid #dde2e8; }

.nav-item-li-therd {
  width: 20.3%;
  text-align: center;
  border-right: 1px solid #dde2e8; }

.nav-item-li-four {
  width: 10.7%;
  text-align: center;
  border-right: 1px solid #dde2e8; }

.nav-item-li-five {
  width: 10.8%;
  text-align: center;
  border-right: 1px solid #dde2e8; }

.heder-img {
  width: 100%; }

.body-wraper {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding-top: 7.9%; }
  .body-wraper span {
    float: left;
    width: 100%; }

.body-top {
  color: #5cb8eb;
  font-size: 24px; }

.body-title {
  font-size: 27px;
  font-weight: 900; }

.body-text {
  float: left;
  font-size: 12px;
  padding-top: 3.7%;
  color: #7e8c99; }

.main-body-group {
  width: 100%;
  padding-top: 7.1%;
  float: left;
  padding-bottom: 20.21%; }

.main-body-group-property {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  padding-top: 3%;
  color: #7e8c99; }

.main-body-group-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 900; }

.main-body-group-item {
  float: left;
  width: calc((100%-5px)/6);
  text-align: center; }
  .main-body-group-item span {
    float: left;
    text-align: center;
    width: 100%; }

.main-item-first {
  border-right: 1px solid #e1e6ec; }

.main-item-two {
  border-right: 1px solid #e1e6ec; }

.main-item-three {
  border-right: 1px solid #e1e6ec; }

.main-item-four {
  border-right: 1px solid #e1e6ec; }

.main-item-five {
  border-right: 1px solid #e1e6ec; }

.center-img {
  width: 100%; }

.community-sections {
  background-color: #eff3f5; }

.tabs {
  float: left;
  padding-top: 4.1%;
  padding-bottom: 57px; }
  .tabs ul li {
    height: 51px;
    width: calc(100%/6);
    text-align: center;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    background-color: white; }
  .tabs ul li a {
    height: 100%;
    padding-top: 11px;
    padding-bottom: 11px;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    color: #535f6e; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  color: white !important;
  background-color: #535f6e !important; }

.nav-tabs.nav-justified > li > a {
  border-bottom: none !important; }

.sections-slider {
  padding-bottom: 128px; }

.feature-part-two {
  padding-top: 60px; }

.carousel-group-img {
  float: left;
  width: 20%;
  padding-left: 2px; }

.carousel-img {
  padding-bottom: 3px;
  width: 100%; }

.carousel-img-center {
  float: left;
  width: 100%; }

.emerald-wrapper-left {
  height: 525px;
  float: left;
  background-color: #31a2e1; }

.emerald {
  float: left;
  height: 525px; }
  .emerald button {
    width: 312px;
    height: 50px;
    float: left; }

.emerald-left {
  float: left;
  height: 525px;
  background-color: #31a2e1;
  color: white; }

.emerald-left-block {
  padding-top: 66px; }

.emerald-left-title {
  width: 100%;
  float: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 18px; }

.emerald-left-text {
  width: 90%;
  float: left;
  font-family: 'Lato', sans-serif;
  font-size: 16px; }
  .emerald-left-text p:first-child {
    padding-top: 34px;
    width: 90%;
    float: left;
    font-weight: bold; }
  .emerald-left-text span {
    width: 80%;
    float: left;
    font-weight: normal;
    line-height: 1.8; }

.emerald-left-icon {
  width: 10%;
  float: left;
  padding-top: 34px; }

.emerald-btn-wraper {
  float: left;
  padding-top: 50px; }

.emerald-btn {
  border-radius: 0px !important;
  background-image: linear-gradient(to bottom, #51c1ff 0, #51c1ff 100%) !important;
  background-color: #51c1ff !important; }

.emerald-wrapper-right {
  height: 525px;
  float: left;
  background-color: #d8d6ff; }

.emerald-right {
  float: left;
  height: 525px;
  background-color: #d8d6ff; }

.emerald-right-title {
  width: 100%;
  float: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 18px;
  padding-top: 66px; }

.emerald-right-content {
  width: 100%;
  float: left;
  padding-top: 34px; }

.emerald-right-img {
  float: left;
  width: 35%; }

.emerald-right-text {
  width: 65%;
  float: left;
  padding-top: 24px; }
  .emerald-right-text p {
    width: 100%;
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px; }
  .emerald-right-text span {
    float: left;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: normal; }

.footer {
  height: 838px;
  float: left;
  color: white;
  background-image: url("./../img/foter.jpg"); }

.footer-warapper-right {
  height: 838px;
  background-color: rgba(66, 79, 97, 0.77); }

.emerald-wrapper-center {
  height: 534px;
  float: left; }

.footer-right {
  height: 534px;
  background-color: rgba(66, 79, 97, 0.77); }

.footer-right-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 18px;
  padding-top: 50px;
  padding-bottom: 30px; }

.footer-right-text {
  background-color: rgba(52, 62, 75, 0.79); }
  .footer-right-text p {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: normal; }
