.header {
  background-color: #f1f4f9;
  height: 47px;
  font-size: 12px; }

.header-login {
  text-align: center;
  border-left: 1px solid #dde2e8; }

.header-sing {
  text-align: center;
  border-left: 1px solid #dde2e8; }

.header-call {
  border-left: 1px solid #dde2e8; }

.header-btn {
  height: 100%;
  float: left;
  padding: 5px 0 5px 0;
  border-left: 1px solid #dde2e8; }

.btn-mesage {
  width: 127px;
  height: 37px;
  background-color: #ff551a;
  color: white !important;
  text-decoration-color: white !important;
  border-radius: 0px !important; }

.header-logo {
  height: 47px;
  background-color: white; }

.header-bottom-nav-left {
  border-top: 1px solid #dde2e8;
  border-bottom: 1px solid #e5e5e3; }

.header-bottom-nav-right {
  border-top: 1px solid #dde2e8;
  border-bottom: 1px solid #e5e5e3; }

.header-bottom-nav {
  height: 37px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  border-top: 1px solid #dde2e8;
  border-bottom: 1px solid #e5e5e3;
  background-color: white !important; }
  .header-bottom-nav i {
    font-size: 16px; }
  .header-bottom-nav a {
    color: #7e8c99 !important; }

.dropdown-toggle::after {
  display: none !important; }

.navbar-brand-menu {
  display: none !important; }

.nav-item-li-zero {
  padding-right: 36px;
  text-align: center;
  border-right: 1px solid #dde2e8; }

.nav-item-li-first {
  width: 21.28%;
  text-align: center;
  border-right: 1px solid #dde2e8; }

.nav-item-li-second {
  width: 21%;
  text-align: center;
  border-right: 1px solid #dde2e8; }

.nav-item-li-therd {
  width: 21.28%;
  text-align: center;
  border-right: 1px solid #dde2e8; }

.nav-item-li-four {
  width: 11.27%;
  text-align: center;
  border-right: 1px solid #dde2e8; }

.nav-item-li-five {
  width: 11.38%;
  text-align: center;
  border-right: 1px solid #dde2e8; }

.nav-item-li-six {
  padding-left: 30px; }

.navbar-nav-ul {
  width: 100%; }

.heder-img {
  width: 100%; }

.main-body-wraper {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding-top: 7.9%; }

.main-body-wraper span {
  float: left;
  width: 100%; }

.main-body-top {
  color: #5cb8eb;
  font-size: 24px; }

.main-body-title {
  font-size: 27px;
  font-weight: 900; }

.main-body-text {
  float: left;
  font-size: 12px;
  padding-top: 3.7%;
  color: #7e8c99; }

.main-body-group {
  width: 100%;
  padding-top: 7.1%;
  float: left;
  padding-bottom: 20.21%; }

.main-body-group-property {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  padding-top: 3%;
  color: #7e8c99; }

.main-body-group-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 900; }

.main-body-group-item {
  float: left;
  width: calc((100%-5px)/6);
  text-align: center; }
  .main-body-group-item span {
    float: left;
    text-align: center;
    width: 100%; }

.main-item-first {
  border-right: 1px solid #e1e6ec; }

.main-item-two {
  border-right: 1px solid #e1e6ec; }

.main-item-three {
  border-right: 1px solid #e1e6ec; }

.main-item-four {
  border-right: 1px solid #e1e6ec; }

.main-item-five {
  border-right: 1px solid #e1e6ec; }

.center-img {
  width: 100%; }

.community-sections {
  background-color: #eff3f5; }

.community-btn {
  float: left; }
